---
interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

import "../components/css/global.css";
import "../components/css/normalize.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#fff7ed" />
    <meta name="description" content="Desarrollo Web | Diego Correa" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Desarrollador Web | Front-End" />
    <meta
      property="og:description"
      content="Desarrollador front-end creando interfaces web limpias y responsivas. Explora proyectos en Astro, React, Next.Js y mas."
    />
    <meta property="og:url" content="https://diegocorrea.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" /><!-- arreglar aquí -->
    <meta property="og:site_name" content="Desarrollador Web | Diego Correa" />
    <meta property="og:locale" content="es_ES" />
    <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>FrontEnd | {pageTitle}</title>
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
